<div class="container">
   <h2> Games
      <div class="pull-right">
         <button class="btn btn-primary" ng-click="vm.addGame()">
            Add Game
         </button>
      </div>
   </h2>

   <tabset>
      <tab heading="Teams" select="vm.go('teams')"></tab>
      <tab heading="Games" active="true"></tab>
      <tab heading="League Home" select="vm.go('league-home')"></tab>
   </tabset>

   <table class="table table-bordered table-hover table-striped">
      <thead>
         <tr>
            <th>Game time</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Location</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="game in vm.games track by $index">
            <td>
               {{vm.combineDates(game.date, game.time)}}
            </td>

            <td>
               {{game.homeTeam}}
            </td>

            <td>
               {{game.awayTeam}}
            </td>

            <td>
               {{game.location}}
            </td>

            <td>
               <div class="btn-group" dropdown>
                  <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                     Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     <li>
                        <a ng-click="vm.editGame(game)">Edit</a>
                     </li>
                     <li>
                        <a ng-click="vm.deleteGame(game)">Delete</a>
                     </li>
                  </ul>
               </div>
            </td>
         </tr>
      </tbody>
   </table>

</div>
