<div class="container">
  <h2> League Home </h2>

  <tabset>
    <tab heading="Teams" select="vm.go('teams')"></tab>
    <tab heading="Games" select="vm.go('games')"></tab>
    <tab heading="League Home" active="true" ></tab>
  </tabset>
</div>
