<div class="container">

	<alert type="success" ng-show="vm.showAlert" close="vm.hideAlert()">
		First you need to create a league. Then configure your league by adding teams.
	</alert>

  <h2 class="page-title">Leagues</h2>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>League Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="form-control" placeholder="New League Name"
                 ng-model="vm.name">
        </td>
        <td>
          <button type="submit" class="btn btn-primary" ng-click="vm.addItem(vm.name)"
                  tooltip="Click here to add new league"
                  tooltip-placement="right">
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
        </td>
      </tr>

      <tr ng-repeat="league in vm.leagues">
        <td ng-hide="vm.currentEdit[league.id]">{{league.name}}</td>
        <td ng-show="vm.currentEdit[league.id]">
          <input type="text" class="form-control" ng-model="vm.itemToEdit.name" />
        </td>

        <td>
          <div class="btn-group" dropdown ng-hide="vm.currentEdit[league.id]">
            <button class="btn btn-success dropdown-toggle" dropdown-toggle>
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ng-href="#/leagues/{{league.id}}/teams">Configure</a>
              </li>
              <li>
                <a ng-click="vm.editItem(league)">Edit</a>
              </li>
              <li>
                <a ng-click="vm.removeItem(league)">Delete</a>
              </li>
            </ul>
          </div>

          <div ng-show="vm.currentEdit[league.id]">
            <button class="btn btn-success" ng-click="vm.saveItem(vm.itemToEdit)">Save</button>
            <button class="btn btn-danger" ng-click="vm.cancelEditItem(league.id)">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
