<div class="container">
  <div class="jumbotron text-center">
    <h1>Angular UI & NG-Routes</h1>

    <button class="btn btn-info"
            popover="Click here for additional information..."
            popover-trigger="mouseenter"
            popover-placement="right"
            ng-click="main.notesCollapsed = !main.notesCollapsed">
      Show Additional Details
    </button>

    <p class="lead"  collapse="main.notesCollapsed">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
  </div>

</div>
