<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span> Angular Route
      </a>
      <button type="button"
              ng-click="vm.navCollapsed = !vm.navCollapsed"
              class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse"
         ng-class="{'in' : !vm.navCollapsed}">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: vm.isActive('/')}"><a ng-href="#/">Home</a></li>
        <li ng-class="{ active: vm.isActive('/leagues')}"><a ng-href="#/leagues">Leagues</a></li>
        <li ng-class="{ active: vm.isActive('/locations')}"><a ng-href="#">Locations</a></li>
      </ul>
    </div>

  </div>
</nav>
