<div class="container">
   <h2>
      Teams

      <div class="pull-right">
         <div class="btn-group" role="group">
            <button class="btn btn-primary" ng-click="vm.addTeam()">
               Add Team
            </button>
            <button class="btn btn-info" ng-click="vm.expand(false)">
               Collapse all Teams
            </button>
            <button class="btn btn-danger" ng-click="vm.expand(true)">
               Expand all Teams
            </button>
         </div>
      </div>
   </h2>



   <tabset>
      <tab heading="Teams" active="true"></tab>
      <tab heading="Games" select="vm.go('games')"></tab>
      <tab heading="League Home" select="vm.go('league-home')"></tab>
   </tabset>



   <accordion close-others="false">
      <accordion-group ng-repeat="group in vm.groups"
                       is-open="group.isOpen">
         <accordion-heading>
            <div>
               {{group.divisionName}}
               <span class="pull-right glyphicon"
                     ng-class="group.isOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </div>
         </accordion-heading>
         <table class="table table-bordered table-hover table-striped">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Team Name</th>
                  <th>Coach</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="team in group.teams | orderBy: 'name' track by $index">
                  <td>
                     {{$index + 1}}
                  </td>

                  <td>
                     {{team.name}}
                  </td>

                  <td>
                     {{team.coach}}
                  </td>

                  <td>
                     <div class="btn-group" dropdown>
                        <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                           Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                           <li>
                              <a ng-click="vm.editTeam(team)">Edit</a>
                           </li>
                           <li>
                              <a ng-click="vm.deleteTeam(team)">Delete</a>
                           </li>
                        </ul>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </accordion-group>
   </accordion>


</div>
