<div class="modal-header">
	<h2>{{vm.properties.title}}</h2>
</div>

<div class="modal-body">
	<p>{{vm.properties.message}}</p>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-6">
			<button class="btn btn-default btn-block" ng-click="vm.cancel()">{{vm.properties.buttons[1]}}</button>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary btn-block" ng-click="vm.ok()">{{vm.properties.buttons[0]}}</button>
		</div>
	</div>
</div>
