<form autocomplete="off" ng-submit="vm.add($event)">
   <div class="modal-header">
      <h2>New Team</h2>
   </div>

   <div class="modal-body form-horizontal">
      <div class="form-group">
         <label for="name" class="col-sm-3 control-label">Name</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.team.name">
         </div>
      </div>

      <div class="form-group">
         <label for="coach" class="col-sm-3 control-label">Coach</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="coach" placeholder="Coach" ng-model="vm.team.coach">
         </div>
      </div>

      <div class="form-group">
         <label for="divisionName" class="col-sm-3 control-label">Division Name</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="divisionName" placeholder="Division Name"
                   ng-model="vm.team.divisionName"
                   typeahead="division for division in vm.divisionsList | filter:$viewValue | limitTo : 8">
         </div>
      </div>

   </div>

   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-block" ng-click="vm.cancel()">
              Cancel
            </button>
         </div>
         <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">
               {{!vm.isEdit ? "Add" : "Edit"}}
            </button>
         </div>
      </div>
   </div>

</form>
