<form autocomplete="off" ng-submit="vm.add($event)">
   <div class="modal-header">
      <h2>New Game</h2>
   </div>

   <div class="modal-body form-horizontal">
      <div class="form-group">
         <label for="date" class="col-sm-3 control-label">Date</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="date" placeholder="Date"
                   ng-model="vm.game.date"
                   datepicker-popup="MM/dd/yyyy"
                   is-open="vm.opened"
                   ng-click="vm.open($event)"
                   close-text="Close">
         </div>
      </div>

      <div class="form-group">
         <label for="time" class="col-sm-3 control-label">Time</label>
         <div class="col-sm-9">
            <timepicker ng-model="vm.game.time" minute-step="15" show-meridian="true"></timepicker>
         </div>
      </div>

      <div class="form-group">
         <label for="homeTeam" class="col-sm-3 control-label">Home Team</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="homeTeam" placeholder="Home Team"
                   ng-model="vm.game.homeTeam"
                   typeahead="team for team in vm.teamList | filter:$viewValue | limitTo : 8">
         </div>
      </div>

      <div class="form-group">
         <label for="awayTeam" class="col-sm-3 control-label">Away Team</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="awayTeam" placeholder="Away Team"
                   ng-model="vm.game.awayTeam"
                   typeahead="team for team in vm.teamList | filter:$viewValue | limitTo : 8">
         </div>
      </div>

      <div class="form-group">
         <label for="location" class="col-sm-3 control-label">Location</label>
         <div class="col-sm-9">
            <input type="text" class="form-control" id="location" placeholder="Location"
                   ng-model="vm.game.location">
         </div>
      </div>

   </div>

   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-block" ng-click="vm.cancel()">
               Cancel
            </button>
         </div>
         <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">
               {{!vm.isEdit ? "Add" : "Edit"}}
            </button>
         </div>
      </div>
   </div>

</form>
